* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* width: 100%; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:  #BE3144;
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
    --text-color: #333;
} 

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

/* Navbar Styles */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #be3144;
    color: white;
    z-index: 10;
    height: 70.8px;
    /* width: 1519.2px; */
    bottom: 671.6px;
    /* padding-bottom: 20px; */
}

#navbar  {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 50px;
    font-size: 22px;
    line-height:  30.8px;
    text-align: left;
    gap: 20px;
    /* padding: 20px 20px 20px 20px; */
    padding-top: 20px;
}

#navbar ul li {
    margin-left: 10px;
}

#navbar  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

#navbar  a:hover {
    background-color:  #45567D;
    padding: 20px 20px 20px 20px;
    width: 90.875px;
    height: 50.90px;
    color: var(--background-color);
}
HERE AT THE END
/* Welcome Section */
#welcome-section {
    height: 742.4px;
    width: 1519.2px;
    background-image: 62deg, rgb(58, 61, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1E20;
    text-align: center;
    padding: 100px 20px 100px 20px;

}

#welcome-section .welcome-content {
    max-width: 1270px;
    padding: 90px;   
    background-color: #222225;
}

#welcome-section h1 {
    font-size:  60px;
    font-weight:  600;
    line-height:  64px;
    text-align: center;
    height:  64px;
    width: 556.45px;
    color: white;
    margin-bottom: 300px;
    margin-left: 210px;
}

#welcome-section p {
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
    line-height: 42px;
    height: 42px;
    width: 542.2px;
    color:  #BE3144;
    align-items: center;
}

/* Projects Section */
#projects {
    padding: 4rem 2rem;
    background-color: #45567D; 
    text-align: center;
}

#projects h2 {
    font-size:  42px;
    font-weight: 700;
    line-height: 58.8px;
    height: 60.4px;
    width: 640px;
    border-bottom:  2px solid  #F0F0F0;
    margin:  0 420px 60px 420px;
    max-width:  640px;
    /* border-radius: 8px; */
    /* margin-bottom: 2rem; */
    color: white;
}

.project-grid {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 40px;
    justify-content: center;
    max-width: 1280px;
}
.project-tile {
    background-color:  #08183d;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.project-tile img {
    width:  400px;
    height: 389.688px;
    object-fit: cover;
}

.project-tile h3 {
    padding: 1px;
    color: white;
    font-size: 20px;
    line-height: 28px;
}
.project-tile h3 a{
    color: white;
}
.project-grid-2 {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 40px;
    justify-content: center;
    max-width: 1280px;
    /* color: white; */
}
.project-tile-2 {
    background-color:  #08183d;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.project-tile-2 img {
    width:  400px;
    height: 389.688px;
    object-fit: cover;  
}

.project-tile-2 h3 {
    padding: 1px;
    color: white;
    font-size: 20px;
    line-height: 28px;
}     
.project-tile-2 h3 a{
    color: white;
}
.button p{
    background-color: #303841;
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 144.95px;
    padding-bottom: 1px;
    padding-top: 15px;
    text-align: center;
    margin-left: 600px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.button p:hover {
    background-color: rgb(224, 53, 53);  
    margin-left: 600px;
    margin-top: 50px;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}
.button i {
    margin-left: 10px;
}

/* Contact Section */
#contact {
    background-color: var(--text-color);
    color: white;
    text-align: center;
    padding: 15px;
    height: 593.912px;
    padding:  0 20px 0 20px;
}

#contact h2 {
    /* margin-bottom: 2rem; */
    font-size: 60px;
}
#contact span {
    font-size: 18px;
}

.contact-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: color 0.3s ease;
    gap: 30px;
    margin-bottom: 50px;
}

.contact-links a:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease;
    gap: 30px;

}

/* Footer */
footer {
    height: 109.2px;
    background-color:var(--text-color);
    color: white;
    text-align: center;
    display: flex;
    padding-top: 10px;
    grid: 900px;
    border-top: 4px solid  #BE3144;
    padding: 20px 20px 20px 20px;
}

footer p {
    color: white;
    text-decoration: none;
    /* margin-right: 2rem; */
    transition: color 0.3s ease;
    /* gap: 30px; */
    margin-left: 90px;
}

